/* ** Hoja de Estilos de Sitio PhotographCoke ** */


/* ----// Configuraciones Generales \\---- 
==========================================*/

@font-face {
    font-family: Dancing Script;
    src: url(../fuentes/Dancing-Script.ttf);
}

body {
    font-family: Dancing Script;
    background: #02010a;
    align-content: center;
}

img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px #02010a);
    filter: drop-shadow(2px 2px 2px #02010a);
}


/* ----// Contenedor Padre del Cuerpo de página \\----
======================================================*/

.contenido {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


/* ----// Encabezado: Título y Menú de Navegación \\----
========================================================*/

.box-encabezado-menu {
    color: white;
    width: 100%;
    background: #5b7989;
    padding: 2em 0.5em;
    border-radius: 10px 10px 0px 0px;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* ----// Efecto de animación SlideIn: Cabecera Animada con efecto de subida y bajada \\---
===========================================================================================*/

.box-encabezado-menu {
    animation: slidein 1s;
    -webkit-animation: slidein 1s;
}

@keyframes slidein {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}

#encabezado {
    color: white;
    padding: 0 1em;
    text-shadow: 2px 2px 2px #02010a;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#encabezado h1 {
    margin: 0;
}

#menu-nav {
    padding: 0 0.5em;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#menu-nav ul {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: auto;
}

#menu-nav li {
    margin: 0;
    display: inline;
    padding: 0.5em 0 0.5em 0.5em;
}

#menu-nav li a {
    color: white;
    font-size: 1.30rem;
    text-shadow: 2px 2px 2px #02010a;
    display: inline-block;
    text-align: center;
    margin: 0;
}


/* ---// Efecto Menú: Opción de menú seleccionado \\---*/

#menu-nav .activado a:link {
    text-decoration-line: none;
}


/* ----// Contenido: Sección Principal * Imagen Central \\---
=============================================================*/

.box-central {
    color: white;
    background: #82c3a6;
    width: 100%;
    text-align: center;
}

#img-central {
    width: 70%;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}


/* ----// Contenido: Sección Secundaria * Imagenes de Enlace \\----
===================================================================*/

.box-secundario {
    color: #02010a;
    background: #d5c75f;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.row-secundario {
    display: flex;
    flex-direction: column;
}

.box-secundario a {
    color: #02010a;
    font-size: 1.25em;
}

img[class^="img-secundaria"] {
    width: 100%;
    border: solid 1px #02010a;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}


/* ----// Efectos de Transformación de Imágenes de Cuerpo Secundario en index \\----
====================================================================================*/

.img-secundaria-psj:hover {
    transform: rotate(10deg);
    border: solid 2px #82c3a6;
    -webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
    filter: drop-shadow(2px 2px 2px #82c3a6);
}

.img-secundaria-rtt:hover {
    transform: translate(20px, -5px);
    border: solid 2px #82c3a6;
    -webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
    filter: drop-shadow(2px 2px 2px #82c3a6);
}


/* ----// Contenido de Galeria de Imágenes: Estilo y efectos a Imágenes de las Galerias del sitio web  \\----
=============================================================================================================*/

.box-galeria {
    color: #02010a;
    background: #d5c75f;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.row-galeria {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.row-galeria figure:first-child {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.row-galeria figure:nth-child(3) {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}

.row-galeria figure:nth-child(even) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* ----// Pié de Página General: Estilo de Pié de página para todo el sitio web \\----
====================================================================================== */

#box-pie-pagina {
    color: #02010a;
    background: #c6d5c5;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

div[class|="foot"] {
    width: 100%;
    text-align: justify;
    margin: 0.5vh 0 0.5vh 10vw;
}

div[class|="foot"] p,
div[class|="foot"] li {
    padding-right: 25%;
}

.foot-redsocial ul,
.foot-redsocial li {
    list-style: none;
    padding: 0;
}

img[id|="ico"] {
    width: 15px !important;
    -webkit-filter: none !important;
    filter: none !important;
}


/* ----// Estilo Adaptativo: Cambio de Propiedades de Elementos, ID y Clases \\----
===================================================================================*/

@media (min-width: 900px) {
    /* ----//   General   \\---- */
    .contenido {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    /* ----// Encabezado \\---- */
    .box-encabezado-menu {
        display: block;
    }
    #encabezado {
        float: left;
        margin: 0.5em 1em;
    }
    #menu-nav {
        float: right;
        padding: 0.5em 1em;
        margin: 0.5em 1em;
    }
    #menu-nav ul {
        width: 250px;
        list-style: none;
        text-align: center;
    }
    #menu-nav li a {
        font-size: 1.5rem;
    }
    /* ------// Cont. Central \\------ */
    #img-central {
        width: 75%;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
    }
    /* ----// Cont.  Secundario \\---- */
    .row-secundario {
        display: flex;
        flex-direction: row;
    }
    /* ------// Cont. Galeria\\------ */
    .row-galeria figure {
        margin: 10px 20px;
        width: 260px;
    }
    .box-galeria {
        width: 900px;
    }
    .row-galeria {
        display: flex;
        flex-direction: row-reverse;
        flex-flow: wrap;
    }
    /* ----//   Pié de Página   \\---- */
    div[class|="foot"] {
        width: 225px;
        clear: both;
        margin: 0px 0px 0px 40px;
        padding: 0;
        font-size: 1.25em;
    }
    div[class|="foot"] p,
    div[class|="foot"] li {
        font-size: 0.8em;
        padding-right: 0;
    }
}