/* ** Hoja de Estilos de Sitio PhotographCoke ** */

@font-face {
    font-family: Dancing Script;
    src: url(../fuentes/Dancing-Script.ttf);
}

body {
    font-family: Dancing Script;
    background: #02010a;
    align-content: center;
}

img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px #02010a);
    filter: drop-shadow(2px 2px 2px #02010a);
}

.contenido {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#encabezado {
    color: white;
    font-size: 1em;
    text-shadow: 2px 2px 2px #02010a;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
    float: left;
}

#menu-nav {
    align-content: center;
    padding: 2vw;
    margin: 2vw;
    float: right;
}

#menu-nav a {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #02010a;
    margin: 1vw 1vh;
    padding: 1vw 1vh;
}

::-moz-selection {
    text-decoration: none;
}

::selection {
    text-decoration: none;
}

.box-encabezado-menu {
    color: white;
    width: 100%;
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
}

.box-central {
    color: white;
    background: #82c3a6;
    width: 100%;
    text-align: center;
}

#img-central {
    width: 90%;
    padding: 1vw 1vh;
    margin: 1vw 1vh;
}

.box-secundario {
    color: #02010a;
    background: #d5c75f;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.row-secundario {
    display: flex;
    flex-direction: column;
}

.box-secundario a {
    color: #02010a;
    font-size: 1.25em;
}

.img-secundaria {
    width: 100%;
    border: solid 1px #02010a;
}

@media (min-width: 900px) {
    .contenido {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    #img-central {
        width: 75%;
        padding: 1vw 1vh;
        margin: 1vw 1vh;
    }
    .row-secundario {
        display: flex;
        flex-direction: row;
    }
}