/* ** Hoja de Estilos de Sitio PhotographCoke ** */

@font-face {
    font-family: Dancing Script;
    src: url(../fuentes/Dancing-Script.ttf);
}

body {
    font-family: Dancing Script;
    background: #02010a;
    align-content: center;
}

img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px #02010a);
    filter: drop-shadow(2px 2px 2px #02010a);
}

.contenido {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.box-encabezado-menu {
    color: white;
    width: 100%;
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#encabezado {
    color: white;
    font-size: 1em;
    padding: 0 1em 0 1em;
    margin: 0 auto;
    text-shadow: 2px 2px 2px #02010a;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#menu-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#menu-nav ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin: auto;
}

#menu-nav li {
    margin: 0;
    display: inline;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#menu-nav li a {
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #02010a;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.box-central {
    color: white;
    background: #82c3a6;
    width: 100%;
    text-align: center;
}

#img-central {
    width: 90%;
    padding: 1vw 1vh;
    margin: 1vw 1vh;
}

.box-secundario {
    color: #02010a;
    background: #d5c75f;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.row-secundario {
    display: flex;
    flex-direction: column;
}

.box-secundario a {
    color: #02010a;
    font-size: 1.25em;
}

.img-secundaria {
    width: 100%;
    border: solid 1px #02010a;
}

@media (min-width: 900px) {
    .contenido {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .box-encabezado-menu {
        padding: auto 1em;
        display: block;
    }
    #encabezado {
        float: left;
        padding: 1vh 1vw;
        margin: auto 2vw;
    }
    #menu-nav {
        float: right;
        padding: 1vh 1vw;
        margin: auto 2vw;
    }
    #menu-nav ul {
        width: 300px;
        list-style: none;
        text-align: center;
    }
    #img-central {
        width: 75%;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
    }
    .row-secundario {
        display: flex;
        flex-direction: row;
    }
}